@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$ff2: 'Inter', sans-serif;


@import "_reset.scss";
@import "_media.scss";

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri-regular.woff') format('woff'),
  url('../fonts/Calibri-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


a {
  color: #2B6CF5;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {  
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;  
  font-family: 'Montserrat', sans-serif;
  &.ohi {
    overflow: hidden;
  }
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #232323;
  margin-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}


.events__photo {
  height: 180px;
  overflow: hidden;
  img {
    max-height: 180px;
    max-width: 260px;
    width: 100%;
    height: 100%;
    object-fit: cover;    
  }
}

.events__photos {
  overflow: hidden;
  max-height: 180px;
}

.lcpadding {
  padding-left: calc((100% - 1180px)/2);    
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}



.rcpadding {  
  padding-right: calc((100% - 1180px)/2);
  @media only screen and (max-width : 1199px) {    
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {    
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {    
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {    
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {    
    padding-right: 15px;
  }
}

/*modal*/


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
}

.modal-overlay_1 {


}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  max-width: 760px;
  width: 100%;
  background-color: #FFF;
  min-height: 100px;
  padding: 39px 38px 42px 38px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 7;
  width: 20px;
  height: 20px;
  background: url("../img/close-w.svg") no-repeat 0 0;
}


.filter-where-list {
  display: none;
  margin-top: 22px;
  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    a {
      color: #232323;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


.cityform {
  margin-top: 25px;
}

.cityform__input {
  width: 100%;
  background: url("../img/search.svg") right 15px center no-repeat rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  height: 54px;
  padding-left: 18px;
  padding-right: 18px;
  color: rgb(153, 153, 153);
}

ul.cityform__list {
  margin-top: 26px;  
  display: flex;
  flex-wrap: wrap;
  li {
    margin-bottom: 22px;
    width: 25%;
    padding-right: 10px;
    a {
      color: rgb(35, 35, 35);
      display: block;
    }
  }
}




/*end modal*/



.header {
  border-bottom: 1px solid #DDDDDD;
  padding-top: 24px;
  padding-bottom: 20px;
}



.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.header__left {
}

.logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: rgb(35, 35, 35);
  display: inline-block;
  margin-right: 16px;
  &:hover {
    text-decoration: none;
  }
}

.header__city {
  display: inline-block;
  background-image: url("../img/geo.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 16px;
  font-size: 16px;
  color: rgb(119, 119, 119);
  cursor: pointer;
}

.header__right {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  li {
    + li {
      margin-left: 22px;      
    } 
    a {
      font-size: 16px;
      color: rgb(35, 35, 35);
    }
  }
}

*[class$="__btn"] {  
  &:hover {
    text-decoration: none;    
  }
}


.header__btn {
  align-items: center;
  justify-content: center;
  background: rgb(43, 108, 245);
  border-radius: 47px;
  height: 39px;
  padding-left: 23px;
  padding-right: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(255, 255, 255);
  display: inline-flex;
  margin-left: 17px;  
  flex: none;
}

.header-fav {
  position: relative;
  margin-left: 12px;
  margin-right: 13px;
  span {
    position: absolute;
    top: -15px;
    right: -15px;
    color: rgb(43, 108, 245);
    font-size: 16px;
  }
}


.hero {
  padding-top: 115px;
  padding-bottom: 114px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.hero__contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}

.hero__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 255, 255);
  height: 56px;
  background: rgb(43, 108, 245);
  border-radius: 55px;
  padding-left: 42px;
  padding-right: 42px;
}

.main-navigation {
  padding-top: 35px;  
  padding-bottom: 16px;
}

.main-navigation__row {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    li {
      padding: 0 10px;
      margin-bottom: 32px;
      width: 33.3333%;
      a {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        color: rgb(35, 35, 35);
        display: inline-block;
        background-image: url("../img/arr-r.svg");
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 14px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}


.verif {
  background: rgb(249, 249, 249);
  padding-top: 30px;
  padding-bottom: 25px;
  
}

.verif__row {
  display: flex;
  align-items: center;  
  margin-left: 20.2%;
  img {  
    margin-right: 9px;
    margin-top: -6px;   
  }
  div {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: rgb(35, 35, 35);
    margin-right: 8px;    
    line-height: 1.3;    
    letter-spacing: 0.2px;
  }
  span {
    font-size: 18px;    
  }
  a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    color: rgb(43, 108, 245);
    background-image: url("../img/arr-r-bl.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      text-decoration: none;
    }
  }
}


.category {
  padding-top: 40px;  
  padding-bottom: 33px;
}


.category__row {
  margin-top: -7px;
  display: flex;
}

.category__ul {
  display: flex;
  margin: 0 -15px;  
  flex-wrap: wrap;
  li {
    width: 33.333%;
    padding: 0 15px;
    margin-bottom: 9px;
    font-size: 16px;  
    color: rgb(35, 35, 35);
    a {
      color: rgb(35, 35, 35);
      display: flex;
      align-items: center;  
      &:hover {
        text-decoration: none;
      }    
    }
    span {
      background: rgb(249, 249, 249);
      border-radius: 4px;
      width: 37px;
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 9px;      
      flex: none;
    }
  }
}



a {

}


.sale-platforms {
  padding-top: 34px;  
}

.h3__wrap {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  flex-wrap: wrap;
  .all-link {
    margin-left: auto;
  }
  .h3 {
    margin-bottom: 0;
  }
}

.h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  color: rgb(35, 35, 35);
  margin-bottom: 16px;
}

h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  color: #232323;
  margin-bottom: 20px;
}

.all-link {

  font-weight: 500;
  font-size: 18px;
  color: rgb(43, 108, 245);
  padding-right: 28px;
  background-image: url("../img/all-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  &:hover {
    text-decoration: none;
  }
}

.character__row {
  margin: 0 -15px;
  display: flex;
}

.character__col {
  width: 33.3333%;
  padding: 0 15px;
}

.character__item {
  margin-bottom: 37px;
}

.character {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(43, 108, 245);
  margin-bottom: 17px;
}

.character__list {
  li {    
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    a {
      font-size: 16px;
      color: rgb(35, 35, 35);
      &:hover {
        text-decoration: none;
      }
    }
  }
}



.latest-pubs {
  padding-top: 53px;
  padding-bottom: 100px;
  &--index {

  }
}

.pubs__row {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;  
  flex-wrap: wrap;  
  margin-top: -2px;
}



.pubs__col {
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
}

.pubs__item {
}

.pubs__img-w {
  display: block;
  height: 170px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 11px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.pubs__cat {
  margin-bottom: 7px;
  display: block;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(35, 35, 35);
  &:hover {
    text-decoration: none;
  }
}

.publication__row {
 .pubs__col {
   margin-bottom: 46px;
 } 
}

.pubs__title {
  margin-bottom: 8px;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(35, 35, 35);  
  &:hover {
    text-decoration: none;
  }
}

.pubs__date {
  font-size: 16px;
  line-height: 1.3;
  color: rgb(119, 119, 119);
}

.pubs {
  margin-top: 27px;
  padding-bottom: 100px;
  .pubs__col {
    margin-bottom: 31px;
  }
  .pubs__row {
    margin-top: 19px;    
    align-items: flex-start;
  }
}

.inner-page {
  padding-top: 38px;
}

.bread {
  ul {
    display: flex;  
    flex-wrap: wrap;
    font-size: 14px;
    color: #777777;
    li {
      margin-bottom: 10px;
      a {
        color: #777777;
        &:hover {
          text-decoration: none;
        }
      }
      &:not(:last-child) {
        &:after {
          content: "—";
          font-size: 14px;
          color: #777777; 
          margin-left: 4px; 
        }
        margin-right: 4px;
      }
    }
  }
}

.inner-page {
  h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.375;
    color: #232323;
    margin-bottom: 19px;
  } 
}

.pubs__cats {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 7px;
  margin-bottom: 20px;
  ul {
    font-size: 14px;
    display: flex;    
    flex-wrap: wrap;
    li {
      &:not(:last-child) {
        margin-right: 28px;
      }
      a {
        font-weight: 500;
        color: #232323;
        line-height: 1.7;
        &.active {
          color: #2B6CF5;
        }
        &:hover {
          color: #2B6CF5;
          text-decoration: none;
        }
      }
    }
  }
}


.pagin {
  margin-top: 7px;
  ul {
    display: flex;    
    flex-wrap: wrap;    
    justify-content: center;
    li {
      margin: 0 3px;
      a {
        font-weight: 500;
        font-size: 16px;
        color: #232323;
        width: 37px;
        height: 37px;
        display: flex;        
        align-items: center;
        justify-content: center;
        &:hover {
          color: #2B6CF5;
          background: #F9F9F9;
          border-radius: 4px;
          text-decoration: none;
        }
        &.active {
          color: #2B6CF5;
          background: #F9F9F9;
          border-radius: 4px;
        }
      }
    }
  }
}

.row {
  display: flex;
}
.col-left {
  width: calc(100% - 270px);
  padding-right: 30px;
}

.col-right {
  width: 270px;  
  flex: none;
}

.main {
  margin-top: 14px;
  padding-bottom: 100px;
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #232323;
    
  }
}

.rules {  
  p {  
    margin-bottom: 0;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.cont-contacts {
  margin: 60px 0 64px 0;
  .h3 {
    margin-bottom: 19px;
  }
  a {
    font-size: 16px;
    color: #232323;
    display: inline-block;
    padding-left: 31px;
    background: url("../img/mail.svg") $nr $lc;
  }
}

.faq {
  padding-bottom: 30px;
}

.accordion-container {
  margin-top: 0px;
}

.accordion-item {
  padding: 16px 0;
  border-bottom: 1px solid #DDDDDD;
  &:first-child {
    border-top: 1px solid #DDDDDD;
  }  
}

.accordion-header {  
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  color: #232323;
  position: relative;
  padding-right: 21px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 7px;
    height: 12px;
    background: url("../img/accord.svg") $nr center;
  }  
  &.active-header {
    &:before {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

.accordion-content {
  display: none;
  font-size: 16px;
  line-height: 1.5;
  color: #232323;
  margin-top: 15px;
  &.open-content {
    display: block;
  }
}

.markets {
  margin-top: 10px;
  padding-bottom: 100px;
}

.market-tabs {
  margin-top: -2px;
  margin-bottom: 36px;
  ul {
    display: flex;
    li {      
      &:last-child {
        border-right: 1px solid #DDDDDD;
      }
      a {
        border: 1px solid #DDDDDD;
        border-right: none;
        height: 48px;
        padding: 0 20px;
        display: inline-flex;        
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #232323;
        &:hover {
          text-decoration: none;
          color: #2B6CF5;
        }
        &.active {
          color: #2B6CF5;
        }
      }
    }
  }
}

.list-letters {
  margin-top: 40px;
  margin-bottom: 32px;
}

.list-letters__w {
  display: flex;
  ul + ul {
    margin-left: 42px;
    li {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.list-letters__ul {
  display: flex;  
  flex-wrap: wrap;
  li {
    margin-bottom: 29px;
    &:not(:last-child) {
      margin-right: 14px;
    }
    a {
      font-weight: 500;
      font-size: 16px;
      color: #232323;
    }
  }
}

.sitemap__items {
  margin-bottom: 57px;  
}

.sitemap__item {
  + .sitemap__item {
    margin-top: 57px;
  }
}
.sitemap__letter {
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #232323;
}

.sitemap__cities {
  ul {
    display: flex;    
    flex-wrap: wrap;
    margin-left: -22px;
    margin-right: -22px;
    li {
      padding: 0 22px;
      width: 33.333%;
      display: inline;
      margin-bottom: 24px;
      a {
        display: block;
        font-weight: 400;
        font-size: 16px;        
        color: #232323;
        &:hover {
          text-decoration: none;
        }
        span {
          color: #777;
          
        }
      }
      &:nth-child(1),      
      &:nth-child(2),      
      &:nth-child(3) {
        a {
          border-top: 1px solid #DDDDDD;
          padding-top: 23px;
        }
      }      
    }
  }
}

.sitemap__all-a {
  font-size: 16px;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #232323;
  display: inline-block;
  margin-top: 8px;
}






.sitemap__coverage {
  margin-top: 40px;
  li {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    a {
      color: #232323;      
      font-size: 16px;
      &:hover {
        text-decoration: none;
      }
      span {
        color: #777;
      }
    }
  }
}

.sitemap__coverage--2 {
  display: flex;
  margin-left: -5px;
  margin-right: -5px; 
  flex-wrap: wrap;
  ul {
    width: 33.333%;
    padding: 0 5px;
    margin-bottom: 45px;
    &:nth-last-child(3),
    &:nth-last-child(2),
    &:nth-last-child(1) {
      margin-bottom: 0;
    } 
  }

}

.footer {
  background: rgb(7, 7, 27);
  padding-top: 41px;
  padding-bottom: 38px;
  a {
    color: #FFF;
  }
}


.footer__top {
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-start;
}

.footer__col {
  margin-right: 119px;  
  flex: none;
}

.footer__top-logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: rgb(255, 255, 255);
  display: inline-flex;
  margin-bottom: 4px;
}

.footer__top-desc {
  font-size: 13px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.66);
}

.footer__ul {
  display: flex;
  flex-wrap: wrap;
  li {
    padding-right: 70px;
    width: 31.13333%;
    margin-bottom: 22px;
    display: inline-flex;
    a {
      font-size: 14px;
      line-height: 1.1;
      color: rgb(255, 255, 255);
    }
  }
}



.footer__bot {
}

.copy {
  font-size: 16px;
  line-height: 1.3;
  color: rgb(255, 255, 255);
  display: inline-flex;
  margin-bottom: 8px;
}

.copy-2 {
  font-size: 13px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  a {
    text-decoration: underline;
  }
}

.regions__row {
  display: flex;  
  flex-wrap: wrap;
  margin: 0 -22.5px;
}

.regions__col {
  width: 33.333%;
  padding: 0 22.5px;
  margin-bottom: 61px;
  &:nth-last-child(1),
  &:nth-last-child(2),
  &:nth-last-child(3) {
    margin-bottom: 0;
  }  
  ul {
    border-top: 1px solid #DDDDDD;   
    padding-top: 23px;
    li {      
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      a {
        font-weight: 400;
        font-size: 16px;
        color: #232323;
        span {
          color: #777;
          display: inline-block;
          margin-left: 3px;
        }
      }
    } 
  }
}

.regions__row {
  &:not(:last-child) {

  }
}

.wholesale__nav {  
  ul {
    display: flex;    
    flex-wrap: wrap;
    li {
      width: 25%;
      padding-right: 15px;
      margin-bottom: 10px;
      a {
        font-size: 16px;
        color: #232323;
        line-height: 1.5;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.map {
  margin-top: 32px;
  margin-bottom: 36px;
}

.map__label {
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.5;
  color: #777777;
}

.map__map {
  height: 310px;
  overflow: hidden;
}

.filter {
  padding: 24px 19px 25px 19px;
  background: #F9F9F9;
  form {
    display: flex;
    .select2-container {
      margin-right: 10px;
      max-width: 255px;
      min-width: 204px;
      //width: auto $i;
    }
  }
}
.filter__label {
  margin-left: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  input[type="checkbox"] {
    display: none;
    + span {
      width: 22px;
      height: 22px;
      flex: none; 
      background: #2B6CF5;
      border: 1px solid #2B6CF5;
      border-radius: 4px; 
      margin-right: 7px;    
    }  
    &:checked {
      + span {
        background: #2B6CF5 url("../img/check.svg") no-repeat center;
      }
    }
  }  
}

.select2-container { 
  border: none; 
  width: 100% $i;
  .select2-selection--single {    
    border: none;    
    display: flex;            
    align-items: center;
    line-height: 1;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 0 16px;
    
    .select2-selection__arrow {

    }
    .select2-selection__rendered {      
      font-size: 16px;
      color: #232323;
      font-weight: 400;
      padding-left: 0;
      margin-right: 0;
      padding-right: 0;
      line-height: 1;
      margin-right: 15px;
    }
    .select2-selection__arrow {      
      background: url("../img/arr-b-sort.svg") $nr center;
      position: static;
      width: 12px;
      height: 9px;      
      margin-left: auto;
      b {
        display: none;
      }
    }
  }  
  .select2-dropdown {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .select2-search--dropdown {
    border: none;
    .select2-search__field {
      border: none;
    }
  }
  .select2-results {
    border: none;
    margin-top: 0px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    border: 1px solid #DDDDDD;
    border-top: none;
  }
  .select2-results__option {
    border: none;    
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
  }
}  

//выпадающая часть
.select2-container--open .select2-dropdown--below {
  /*width: 61px !important;*/
}

.regions__links {
  padding: 44px 0 28px;
  background: #F9F9F9;
  ul {
    display: flex;    
    flex-wrap: wrap;
    margin: 0 -14px;
    li {
      width: 25%;
      padding: 0 14px;
      margin-bottom: 17px;
      a {
        font-size: 16px;
        line-height: 125%;
        color: #232323;
      }
    }
  }
}

.wholesale__list {
  padding-bottom: 43px;
}

.pagin--wholesale {
  margin-bottom: 99px;
}

.filter__reset {
  text-align: center;
  padding-bottom: 101px;
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 13px;
    color: #000000;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  button {
    font-weight: 500;
    font-size: 16px;
    height: 56px;
    padding: 0 42px;
    background: #FFFFFF;
    border: 1px solid #777777;
    border-radius: 55px;
    color: #777777;
  }
}

label {
  cursor: pointer;
}

.add__item {
  label {

    > span {
      display: block;
      margin-bottom: 6px;
      color: #232323;
      font-size: 16px;
      line-height: 1.5;      
    }
    sup {
      color: #FF2C2C;
    }
  }  
  textarea {
    height: 157px;
  }
}

textarea {
  height: 100px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
}

input[type="text"] {
  height: 54px;  
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  width: 100%;
  padding: 0 20px;
}

.add__form {
  margin-top: 59px;
}

.add__section {  
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 30px;
  padding-bottom: 43px;  
  &:not(:last-child) {
    margin-bottom: 52px;
  }
}

.add__about {
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  color: #232323;
  margin-bottom: 17px;
}

.add__item {
  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

p.add__text {
  margin-bottom: 23px;
}


.add-file__items {
  margin-bottom: -13px;
}

.add__item-row {
  display: flex;
  margin: 0 -7px;
}
.add__item-col {
  padding: 0 7px;
  width: 50%;
}

.add__text {
  margin-top: -9px;
}

.cap {  
  margin-bottom: 19px;
}

p.add__rules {
  margin-top: -30px;    
  margin-bottom: 6px;
}

.form__btn {
  background: #2B6CF5;
  border-radius: 55px;
  height: 56px;
  padding: 0 42px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}


.wholesale__item {
  display: flex;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 22px;
  padding-top: 42px;  
  &:nth-child(1) {
    padding-top: 0;
  }  
}

.wholesale__row {
  margin-top: 36px;
}

.wholesale__content {
  margin-left: 19px;
  flex: 1 1 auto;
  position: relative;
}

.wholesale__top {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-bottom: 0;
}


.wholesale__icon {
  display: flex;
  width: 19px;
  height: 19px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: 0px;
}

.wholesale__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  margin-bottom: 7px;
  padding-right: 35px;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}

.wholesale__spec {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(119, 119, 119);
  margin-bottom: 4px;
}

.wholesale__text {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(35, 35, 35);
  margin-bottom: 7px;
}

.wholesale__adress {
  background-image: url("../img/geo.svg");
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(119, 119, 119);
  padding-left: 18px;
  
}

.wholesale__gal {
  display: flex;
  margin-left: 4px;
}

.wholesale__add-link {

}

.wholesale__add-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #232323;
  margin-bottom: 15px;
  margin-top: 4px;

}

.wholesale__gal-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 86px;
  margin-right: 12px;
  margin-top: 15px;
}


.events__item {
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.events__img-w {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  width: 230px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.events__content {
  margin-left: 19px;
  flex: 1 1 auto;
}

.events__row {
  padding-top: 32px;
}

.events__top {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.events__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: rgb(35, 35, 35);
}

.events__icons {
  margin-left: 10px;
  display: flex;  
  align-items: flex-end;
}

.events__icon {
  display: flex;
  width: 19px;
  height: 19px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.events__info {
  padding-left: 0px;
}

.events__dopinfo {
  text-align: right;
  margin-top: 8px;
  .events__dates {

  }
}


.events__name {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(35, 35, 35);
  margin-bottom: 11px;
}

.events__place {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(35, 35, 35);  
}

.events__time {
  background: url("../img/clock.svg") $nr left center;
  padding-left: 23px;
}

.events__geo {
  margin-top: 8px;
  background-image: url("../img/geo.svg");
  background-repeat: no-repeat;
  background-position: left 1px center;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(35, 35, 35);
  padding-left: 22px;  
  a {  
    color: rgb(43, 108, 245);
    line-height: 1.5;  
  }
}


.events__cats {

}

.events__cat {
  background: rgb(249, 249, 249);
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  color: #232323;
  font-size: 14px;
  margin-right: 7px;
  margin-top: 12px;
  &:hover {
    text-decoration: none;
  }    
}

.events__dates {
  border: 1px solid rgb(43, 108, 245);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(43, 108, 245);
  height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 9px;
  &:empty {
    display: none;    
  }
}

.events__status {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: rgb(0, 158, 101);
  margin-top: -3px;
}

.event {
  margin-top: 16px;
  padding-bottom: 100px;
}

.h4 {
  font-size: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 13px;
}

.events__cats-w {
  padding: 30px 0 30px 0;
  .h4 {
    margin-bottom: 0px;
  }
}

.events__photo {
  height: 180px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
  }
}

.events__photos-w {
  padding-top: 32px;
  padding-bottom: 30px;
}

.events__photos {
  padding: 0 22.5px;
  .slick-list {

  }
  .slick-slide {
    line-height: 1;
    font-size: 0;
    padding: 0 12.5px;
    
  }

  .slick-arrow {
    position: absolute;
    z-index: 12;  
    width: 17px;
    height: 28px;
    border: none;
    background: none;
    font-size: 0;
    background: url("../img/events-photos-arr.svg") $nr 0 0;
    top: calc(50% - 14px);
    li {
      button {
        padding: 0;        
        border: none;
      }
    }
  }

  .slick-prev {
    left: 0;  
  }

  .slick-next {
    right: 0;  
    transform: rotate(180deg);
  }  
}


table.events__about-table {
  margin-top: 30px;  
  td {
    &:nth-child(2) {
      padding-left: 16px;
    }    
  }  
}

table.content-table {
  a {
    color: #232323;        
  }
  tr {
    &:not(:last-child) {
      td {
        padding-bottom: 17px;
      }
    }
  }
  td {
    color: #777;
    line-height: 1.5;    
    &:nth-child(2) {
      color: #232323;        
      padding-left: 17px;
    }      
  }
}


.events__works {
  padding-top: 30px;
  padding-bottom: 30px;
  table {
    margin-top: 18px;
    td {        
      &:nth-child(2) {
        padding-left: 25px;        
      }      
    }
    tr {
      &:not(:last-child) {
        td {
          padding-bottom: 24px;
        }
      }  
    }
  }
}

.events__conts {
  table {
    margin-top: 26px;
    td {  
      &:nth-child(1) {
       width: 150px; 
     }      
     &:nth-child(2) {
      padding-left: 29px;
    }      
  }
  tr {
    &:not(:last-child) {
      td {
        padding-bottom: 15px;
      }
    }
  }  
}
}


.events__conts {
  padding-top: 31px;
  padding-bottom: 30px;
  .map__map {
    height: 288px;    
    border-radius: 8px;

  }
}

.events__revs {
  padding-top: 30px;
  padding-bottom: 30px;
}

.soc-icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  display: block;
  &:hover {
    text-decoration: none;
  }
}



.vk {
  background-image: url("../img/vk.svg");
}

.events__add-rev {
  padding-top: 30px;  
  padding-bottom: 30px;
}

.events__similar {
  padding-top: 32px;
}

.events__similar-list {
  margin-top: -11px;
  .wholesale__item {
    &:nth-child(1) {
      padding-top: 10px;
    }     
    &:last-child {
     border-bottom: none;
     padding-bottom: 0;
   }   
 }
}

.rek {
  height: 640px;
  width: 100%;
  background: #EAEAEA;
  margin-top: 13px;
}

.publication__info {
  margin-bottom: 18px;
  display: flex;  
  flex-wrap: wrap;          
  align-items: center;
  ul {
    display: flex;
    font-size: 14px;
    color: rgb(35, 35, 35);
    a {      
      color: rgb(35, 35, 35);
    }
    li {
      position: relative;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &:not(:first-child) {
        padding-left: 14px;        
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          transform: translate(0%, -50%);
          left: 0;
          width: 4px;
          height: 4px;
          background: #D9D9D9;        
          border-radius: 50%;
        }    
      }
      
    }
  }
}





.article__stat {
  margin-left: 17px;
  display: flex;
}

.article__views {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  color: rgb(119, 119, 119);
}

.article__info {
  display: flex;  
  align-items: center;
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.article__info img {
  margin-right: 5px;  
  flex: none;
}

.article__mes {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  color: rgb(119, 119, 119);
  margin-left: 15px;
}



.publication {
  padding-bottom: 7px;
  > img {    
    border-radius: 8px;
    max-width: 100%;    
  }
  p {
    i {
      color: #777777;
    }
  }
}

.add-quest {
  padding-top: 30px;
  .h3 {
    margin-bottom: 28px;
  }
}

.add-quest__form {
  background: rgb(249, 249, 249);
  border-radius: 4px;
  padding: 30px 30px 28px;
}

.add-quest__row {
  display: flex;
  justify-content: space-between;
  margin: 0 -11px;
  margin-bottom: 15px;
}

.add-quest__col {
  width: 50%;
  padding: 0 11px;
}

.add-quest__col-100 {
  width: 100%;
  padding: 0 11px;
}

.add-quest__label {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(35, 35, 35);
  margin-bottom: 6px;
}

.add-quest__input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;  
  height: 54px;
}

.add-quest__area-w {
  margin-bottom: 12px;
}

.add-quest__area {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  width: 100%;
  height: 157px;
  margin-bottom: 18px;
}

.add-quest__rules {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(119, 119, 119);
  margin-bottom: 7px;
  a {
    color: rgb(43, 108, 245);  
  }
}


.add-quest__robot {
  margin-bottom: 19px;
}

.add-quest__btn {
  background: rgb(43, 108, 245);
  border-radius: 55px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 255, 255);
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 42px;
  padding-right: 42px;
}




.type__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: rgb(35, 35, 35);
  margin-bottom: 10px;
}

.type__ul {
  li {
    padding-left: 0px;
    display: flex;
    align-items: center;
    padding-right: 0px;
    margin-bottom: 4px;
    a {
      font-size: 16px;
      color: rgb(35, 35, 35);
      display: flex;
      width: 100%;
      align-items: center;
      padding: 6px 10px;  
      border-radius: 4px;       
      transition: background 0.33s;
      line-height: 1.5;
      &:hover {
        text-decoration: none;
        background: rgb(43, 108, 245);
        color: rgb(255, 255, 255);  
      }
      &.active {  
        background: rgb(43, 108, 245);
        color: rgb(255, 255, 255);  
      }
    }
  }
}

.type__more {
  line-height: 1.5;
  text-decoration-line: underline;
  color: #232323;
  font-size: 16px;
  padding: 0 10px;
  display: inline-block;
  margin-top: 6px;
}



.type {
  margin-bottom: 57px;
  font-size: 10px;  
  li._hidden {
    display: none;
  }
  .type__ul {    
    &.more {      
      li._hidden {
        display: block;
      }
    }
  }
}


.reviews__action {
  &:hover {
    text-decoration: none;
  }
}

.reviews__item {
  margin-top: 20px;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 19px;  
  &:not(:last-child) {
    margin-bottom: 47px;
  }
}

.reviews__top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reviews__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__name {
  margin-left: 2px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #232323;
}

.reviews__date {
  font-size: 16px;
  color: rgb(119, 119, 119);
}

p.reviews__text {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(35, 35, 35);
  margin-bottom: 20px;
}

.reviews__actions {
  display: flex;
  align-items: center;
}

.reviews__like {
  display: flex;
  align-items: center;  
  font-size: 16px;
  color: rgb(18, 18, 18);
  &:not(:last-child) {
    margin-right: 16px;
  }
}

.comment__icon {
  margin-left: 7px;
  display: inline-block;  
}

.reviews__dislike {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-size: 16px;
  color: rgb(18, 18, 18);
}

.reviews__answer {
  font-size: 16px;
  text-decoration-line: underline;
  color: rgb(119, 119, 119);
  margin-left: 2px;
}

.publication-actions__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;  
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.publication-actions__comments {
  display: flex;
  align-items: center;
}

.publication-actions__like {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  width: 65px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
  font-size: 16px;
  color: rgb(18, 18, 18);
}

.publication-actions__icon {
  margin-left: 10px;
}

.publication-actions__com {
  font-size: 16px;
  line-height: 1.5;
  text-decoration-line: underline;
  color: rgb(119, 119, 119);
}

.publication-actions__share {
  display: flex;
  align-items: center;
a {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  height: 42px;
  width: 42px;
}
}

.publication-actions__text {
  font-size: 16px;
  color: rgb(119, 119, 119);
}



.add-file__item {
  display: flex;
  align-items: center;
  margin-top: 21px;
  &:not(:last-child) {

  }
}

.add-file__l {
  width: 92px;
  margin-right: 14px;
  flex: 0 0 auto;
}

.add-file__title {
  margin-bottom: 10px;
}

.add-file__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;  
  input[type="file"] {
    display: none;
  }
}

.add-file__dropzone {
  border: 1px dashed rgb(43, 108, 245);
  border-radius: 8px;
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9px;
}

.add-file__download {
  color: rgb(43, 108, 245);
  display: inline-block;
}

.add-file__r {

}

.add-file__info {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(35, 35, 35);
}

.add-file__format {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(119, 119, 119);
}


@media (max-width : 1169px) {
  .pubs__img-w {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
  }
  .publication__row .pubs__col {
    margin-bottom: 26px;
  }
  .footer__col {

  }
  .footer__top {   
    justify-content: space-between; 
  }
  .footer__ul {

    li {
      width: 33.333%;
      padding-right: 20px;
    }
  } 
  .regions__col ul li {
    line-height: 1.5;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
  .sitemap__coverage--2 {
    margin-left: -20px;
    margin-right: -20px;
    ul {
     padding: 0 20px;
     line-height: 1.5;
   }
 }
 .sitemap__coverage li:not(:last-child) {
  margin-bottom: 18px;
}
.sitemap__cities ul li {
  width: 50%;
}
.sitemap__cities ul li:nth-child(3) a {
  border: none;
  padding-top: 0;
}

.events__photo {
  width: 100%;
  height: auto;
  aspect-ratio: 5 / 4;
}

}//1169

@media (max-width : 991px) {

  .latest-pubs {
    .pubs__col {
      width: 33.333%;
      &:nth-child(4) {
        display: none;
      }      
    }
  }
  .publication__row .pubs__col {
    width: 33.333%;
  }
  .logo {
    display: block;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__right {
    width: 100%;
    margin-top: 15px;
  }
  .header__right,
  .header__row {    
    flex-wrap: wrap;    
    justify-content: center;
  }
  .header__row {    

  }
  .header-nav {
    width: 100%;    
    justify-content: center;
    order: 100;
    margin-top: 15px;
  }
  .footer__top {    
    flex-wrap: wrap;
  }
  .footer__col {
    margin-right: 0;
    margin-bottom: 45px;
  }
  .footer__ul {
    margin-bottom: 25px;
  }
  .market-tabs ul {    
    flex-wrap: wrap;
    li {
      margin: 0 5px 5px 0;
      &:last-child {
        border-right: none;
      }
      a {
        display: flex;
        border-right: 1px solid #ddd;
      }
    }
  }
  .sitemap__coverage--2 {    
    flex-wrap: wrap;
    ul {
      width: 50%;
      margin-bottom: 45px;
      &:nth-last-child(2),
      &:nth-last-child(1) {
        margin-bottom: 0;
      }    
    }
  } 
  .list-letters__w {
    display: block;
  }
  .list-letters__ul {
    margin-bottom: 15px;
    width: 100%;
    li {
      margin-bottom: 15px;
    }
  }
  .list-letters__w ul + ul {
    margin-left: 0;
  }
  .list-letters__w ul + ul li:not(:last-child),
  .list-letters__ul li:not(:last-child) {
    margin-right: 11px;
  }
  .row {    
    flex-wrap: wrap;
  }
  .col-left {
    width: 100%;
    padding-right: 0;
  }
  .col-right {
    margin-top: 35px;
    width: 100%;
    &:empty {
      display: none;
    }
  }
  .latest-pubs {
    padding-bottom: 45px;
  }
  .main {
    padding-bottom: 70px;
  }
  .cont-contacts {
    margin: 40px 0;
  }
  .bread ul li {
    line-height: 1.5;
    margin-bottom: 7px;
  }

  .events__item {    
    flex-wrap: wrap;
  }

  .events__img-w {
    order: 0;
  }

  .events__dopinfo {
    order: 1;
    width: auto;
    margin-left: auto;
  }
  .events__content {
    order: 3;
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }
}//991


@media (max-width : 767px) {
  .publication__row .pubs__col {
    width: 50%;
  }
  
  .copy-2 {
    line-height: 1.5;
  }
  .market-tabs {
    margin-bottom: 26px;
  }
  .regions__col {
    width: 50%;  
  }
  .regions__col:nth-last-child(3) {
    margin-bottom: 61px;
  }
  .inner-page h1 {
    font-size: 28px;
    margin-bottom: 14px;
  }
  .events__title {
    font-size: 28px;
  }
  h2,
  .h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .add-quest .h3 {
    margin-bottom: 15px;
  }
  .sitemap__cities ul {
    line-height: 1.5;
    li {
      margin-bottom: 15px;
    }
  }
  .faq {
    padding-bottom: 15px;
  }
  .add-quest {
    padding-top: 15px;
  }
  .publication__info ul {    
    flex-wrap: wrap;
    li {
      margin-bottom: 15px;
    }
  }
  .article__stat {
    width: 100%;    
    margin-left: 0;
  }
  .add__form {
    margin-top: 30px;
  }
  .add__section {
    padding: 25px;
    padding-bottom: 35px;
  }
  .add-file__items {
    margin-bottom: 0;
  }
  .wholesale__gal {    
            flex-wrap: wrap;
  }
}//767


@media (max-width : 640px) {
  .publication-actions__footer {  
    flex-wrap: wrap;
  }
  .publication-actions__comments {
    width: 100%;
    margin-bottom: 35px;
  }
}//640

@media (max-width : 575px) {
  .footer__ul li {
    display: block;
    width: 100%;
    text-align: center;
    padding-right: 0;
    a {
      display: block;
      text-align: center;
    }
  }
  .footer__col {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }
  .footer__bot {
    text-align: center;
  }
  .footer__ul {
    margin-bottom: 15px;
  }
  .regions__col {
    width: 100%;
    margin-bottom: 40px;
  }
  .regions__col:nth-last-child(3),
  .regions__col:nth-last-child(2) {
    margin-bottom: 40px;
  }
  .sitemap__coverage--2 {  
    ul {
      width: 100%;
    }
  }
  .sitemap__coverage--2 ul:nth-last-child(2) {
    margin-bottom: 45px;
  }
  
  .sitemap__cities ul li:nth-child(2) a {
    border: none;
    padding-top: 0;
  }

  .sitemap__cities ul {    
    li {
      width: 100%;      
    }
  }
  .add-quest__row {    
    flex-wrap: wrap;
  }
  .add-quest__col {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .add-quest__form {
    padding: 20px;
  }
  input[type="text"] {
    height: 44px;
  }
  .latest-pubs {
    .pubs__col {
      width: 50%;
      margin-bottom: 25px;
      &:nth-child(4) {
        display: block;
      }    
    }
  }
  .add__item-row {    
    flex-wrap: wrap;
  }
  .add__item-col {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  .events__dopinfo {
    order: -5;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
  }
  .events__photos .slick-slide {
    padding: 0 5px;
  }
  .wholesale__item {    
    flex-wrap: wrap;
    .events__img-w {
      margin-bottom: 10px;
    }
    .wholesale__content {
      width: 100%;
      margin-left: 0;
    }
  }
}//575


@media (max-width : 480px) {
  .pubs__date,
  .pubs__cat,
  .pubs__title {
    font-size: 14px;
  }
  .events__title,
  .inner-page h1 {
    font-size: 24px;    
  }
  h2,
  .h3 {
    font-size: 21px;
  }
  .inner-page {
    padding-top: 18px;
  }
  .main {

  }
  .pubs__cats ul {
    font-size: 16px;
  }
  .pubs__cats ul li {
    width: 100%;
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .market-tabs ul li {
    width: 100%;
    margin-right: 0;
  }
  .sitemap__coverage {
    margin-top: 30px;
  }
  .h3__wrap .all-link {
    margin-left: 0;
  }
  .h3__wrap .h3 {
    width: 100%;
    margin-bottom: 10px;
  }
  .all-link {
    font-size: 14px;    
    background-size: 15px;
    padding-right: 23px;
  }
  .pubs__row {
    margin-top: 0px;
  }
  .publication-actions__text,
  .publication-actions__com {
    font-size: 14px;
  }
  .publication-actions__comments {
    margin-bottom: 20px;
  }
  .latest-pubs {
    padding-top: 40px;
  }
  .add__section {
    padding: 20px;
    padding-bottom: 30px;
  }
  .add-file__item {    
    flex-wrap: wrap;
  }
  .add-file__l {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .add__section:not(:last-child) {
    margin-bottom: 42px;
  }
  .events__top {    
            flex-wrap: wrap;
  }
  .events__title {
    width: 100%;
  }
  .events__icons {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .events__works,
  .events__add-rev,
  .events__conts,
  .events__cats-w,
  .events__photos-w {
    padding: 15px 0;
  }
  .events__similar {
    padding-top: 15px;
  }
  table.content-table td {
    vertical-align: top;
    font-size: 14px;
  }
  .wholesale__item {
    padding-top: 22px;
  }
}//480

@media (max-width : 375px) {
  .latest-pubs .pubs__col {
    width: 100%;

  }
}//375

@media (max-width : 360px) {
  .publication__row .pubs__col {
    width: 100%;
  }
  .pubs__date,
  .pubs__cat,
  .pubs__title {
    font-size: 16px;
  }
  .header-nav {    
    flex-wrap: wrap;
    text-align: center;
    li {
      width: 100%;
      + li {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
}


@import "_after-styless";

.pb-0 {
  padding-bottom: 0;
}

.footer {
  margin-top: auto;
}


body {  
  &.active {
    background: url("../img/1920.jpg") no-repeat top 0px center;
    .wrapper {
      opacity: 0.4;
    } 
    .footer {
      opacity: 0.4;
    }
    .get {
      opacity: 0.4;
    }
  }    


}