@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$ff2: 'Inter', sans-serif;


@import "_reset.scss";
@import "_media.scss";

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri-regular.woff') format('woff'),
  url('../fonts/Calibri-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


a {
  color: #2B6CF5;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {  
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;  
  font-family: 'Montserrat', sans-serif;
  &.ohi {
    overflow: hidden;
  }
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #232323;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.main {  
  flex-grow: 1;
}

.lcpadding {
  padding-left: calc((100% - 1180px)/2);    
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}



.rcpadding {  
  padding-right: calc((100% - 1180px)/2);
  @media only screen and (max-width : 1199px) {    
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {    
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {    
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {    
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {    
    padding-right: 15px;
  }
}

/*modal*/


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  width: 555px; 
  background-color: #FFF;
  min-height: 100px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0;
}

/*end modal*/



.header {
  border-bottom: 1px solid #DDDDDD;
  padding-top: 24px;
  padding-bottom: 21px;
}



.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.header__left {
}

.logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: rgb(35, 35, 35);
  display: inline-block;
  margin-right: 16px;
  &:hover {
    text-decoration: none;
  }
}

.header__city {
  display: inline-block;
  background-image: url("../img/geo.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 16px;
  font-size: 16px;
  color: rgb(119, 119, 119);
  cursor: pointer;
}

.header__right {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  li {
    margin-left: 22px;
    a {
      font-size: 16px;
      color: rgb(35, 35, 35);
    }
  }
}

*[class$="__btn"] {  
  &:hover {
    text-decoration: none;    
  }
}


.header__btn {
  align-items: center;
  justify-content: center;
  background: rgb(43, 108, 245);
  border-radius: 47px;
  height: 39px;
  padding-left: 23px;
  padding-right: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(255, 255, 255);
  display: inline-flex;
  margin-left: 15px;
}

.header-fav {
  position: relative;
  margin-left: 17px;
  span {
    position: absolute;
    top: -15px;
    right: -15px;
    color: rgb(43, 108, 245);
    font-size: 16px;
  }
}


.hero {
  padding-top: 113px;
  padding-bottom: 115px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.contain.hero__contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}

.hero__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 255, 255);
  height: 56px;
  background: rgb(43, 108, 245);
  border-radius: 55px;
  padding-left: 42px;
  padding-right: 42px;
}

.main-navigation {
  padding-top: 33px;  
  padding-bottom: 16px;
}

.main-navigation__row {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      margin-bottom: 31px;
      width: 33.3333%;
      a {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        color: rgb(35, 35, 35);
        display: inline-block;
        background-image: url("../img/arr-r.svg");
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 14px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}


.verif {
  background: rgb(249, 249, 249);
  padding-top: 25px;
  padding-bottom: 25px;
}



.verif__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.verif {
  img {  
    margin-right: 11px;    
  }
}

.verif__row {
  display: flex;  
  align-items: center;
  div {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: rgb(35, 35, 35);
    margin-right: 8px;    
  }
  span {
    font-size: 18px;
    line-height: 1.3;
  }
  a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: rgb(43, 108, 245);
    background-image: url("../img/arr-r-bl.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      text-decoration: none;
    }
  }
}


.category {
  padding-top: 64px;  
  padding-bottom: 37px;
}

.contain {
}

.category__row {
  margin-top: 28px;
  display: flex;
}

.category__ul {
  display: flex;
  margin: 0 -40px;  
  flex-wrap: wrap;
  li {
    width: 33.333%;
    padding: 0 40px;
    margin-bottom: 9px;
    font-size: 16px;  
    color: rgb(35, 35, 35);
    a {
      color: rgb(35, 35, 35);
      display: flex;
      align-items: center;  
      &:hover {
        text-decoration: none;
      }    
    }
    span {
      background: rgb(249, 249, 249);
      border-radius: 4px;
      width: 37px;
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 9px;      
      flex: none;
    }
  }
}



a {

}


.sale-platforms {
  padding-top: 37px;  
}

.h3__wrap {
  display: flex;
  margin-bottom: 28px;
  align-items: center;
  flex-wrap: wrap;
  .all-link {
    margin-left: auto;
  }
  .h3 {
    margin-bottom: 0;
  }
}

.h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  color: rgb(35, 35, 35);
  margin-bottom: 20px;
}

.all-link {

  font-weight: 500;
  font-size: 18px;
  color: rgb(43, 108, 245);
  padding-right: 28px;
  background-image: url("../img/all-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  &:hover {
    text-decoration: none;
  }
}

.character__row {
  margin-left: -28px;
  margin-right: -28px;
  display: flex;
}

.character__col {
  width: 33.3333%;
  padding-left: 28px;
  padding-right: 28px;
}

.character__item {
  margin-bottom: 28px;
}

.character {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(43, 108, 245);
  margin-bottom: 9px;
}

.character__list {
  li {    
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    a {
      font-size: 16px;
      color: rgb(35, 35, 35);
      &:hover {
        text-decoration: none;
      }
    }
  }
}



.latest-pubs {
  padding-top: 28px;
  padding-bottom: 85px;
}

.pubs__row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;  
  flex-wrap: wrap;  
}

.pubs__col {
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
}

.pubs__item {
}

.pubs__img-w {
  display: block;
  height: 170px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 11px;
  img {
    width: 100%;
  }
}


.pubs__cat {
  margin-bottom: 7px;
  display: block;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(35, 35, 35);
  &:hover {
    text-decoration: none;
  }
}

.pubs__title {
  margin-bottom: 8px;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(35, 35, 35);
  padding-right: 23px;
  &:hover {
    text-decoration: none;
  }
}

.pubs__date {
  font-size: 16px;
  line-height: 1.3;
  color: rgb(119, 119, 119);
}

.pubs {
  margin-top: 27px;
  padding-bottom: 100px;
  .pubs__col {
    margin-bottom: 31px;
  }
  .pubs__row {
    margin-top: 19px;    
    align-items: flex-start;
  }
}

.inner-page {
  padding-top: 36px;
}

.bread {
  ul {
    display: flex;  
    flex-wrap: wrap;
    font-size: 14px;
    color: #777777;
    li {
      margin-bottom: 10px;
      a {
        color: #777777;
        &:hover {
          text-decoration: none;
        }
      }
      &:not(:last-child) {
        &:after {
          content: "—";
          font-size: 14px;
          color: #777777; 
          margin-left: 5px; 
        }
        margin-right: 5px;
      }
    }
  }
}

.inner-page {
  h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.375;
    color: #232323;
    margin-bottom: 18px;
  } 
}

.pubs__cats {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 9px;
  ul {
    font-size: 14px;
    display: flex;    
    flex-wrap: wrap;
    li {
      &:not(:last-child) {
        margin-right: 28px;
      }
      a {
        font-weight: 500;
        color: #232323;
        line-height: 1.7;
        &.active {
          color: #2B6CF5;
        }
        &:hover {
          color: #2B6CF5;
          text-decoration: none;
        }
      }
    }
  }
}


.pagin {
  margin-top: 7px;
  ul {
    display: flex;    
    flex-wrap: wrap;    
    justify-content: center;
    li {
      margin: 0 3px;
      a {
        font-weight: 500;
        font-size: 16px;
        color: #232323;
        width: 37px;
        height: 37px;
        display: flex;        
        align-items: center;
        justify-content: center;
        &:hover {
          color: #2B6CF5;
          background: #F9F9F9;
          border-radius: 4px;
          text-decoration: none;
        }
        &.active {
          color: #2B6CF5;
          background: #F9F9F9;
          border-radius: 4px;
        }
      }
    }
  }
}

.row {
  display: flex;
}
.col-left {
  width: calc(100% - 269px);
  padding-right: 30px;
}

.col-right {
  width: 269px;  
  flex: none;
}

.rules {
  margin-top: 22px;
  padding-bottom: 100px;
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #232323;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.cont-contacts {
  margin: 60px 0;
  .h3 {
    margin-bottom: 19px;
  }
  a {
    font-size: 16px;
    color: #232323;
    display: inline-block;
    padding-left: 31px;
    background: url("../img/mail.svg") $nr $lc;
  }
}

.accordion-container {
  margin-top: 30px;
}

.accordion-item {
  padding: 20px 0;
  border-bottom: 1px solid #DDDDDD;
  &:first-child {
    border-top: 1px solid #DDDDDD;
  }  
}

.accordion-header {  
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  color: #232323;

}

.accordion-content {
  display: none;
  font-size: 16px;
  line-height: 1.5;
  color: #232323;
  margin-top: 15px;
  &.open-content {
    display: block;
  }
}

.markets {
  margin-top: 10px;
  padding-bottom: 100px;
}

.market-tabs {
  margin-bottom: 35px;
  ul {
    display: flex;
    li {      
      &:last-child {
        border-right: 1px solid #DDDDDD;
      }
      a {
        border: 1px solid #DDDDDD;
        border-right: none;
        height: 48px;
        padding: 0 20px;
        display: inline-flex;        
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #232323;
        &:hover {
          text-decoration: none;
          color: #2B6CF5;
        }
        &.active {
          color: #2B6CF5;
        }
      }
    }
  }
}

.list-letters {
  margin-bottom: 13px;
}

.list-letters__w {
  display: flex;
  ul + ul {
    margin-left: 42px;
    li {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.list-letters__ul {
  display: flex;  
  flex-wrap: wrap;
  margin-bottom: 22px;
  li {
    &:not(:last-child) {
      margin-right: 15px;
    }
    a {
      font-weight: 500;
      font-size: 16px;
      color: #232323;
    }
  }
}

.sitemap__items {
  margin-bottom: 47px;  
}

.sitemap__item {
  + .sitemap__item {
    margin-top: 56px;
  }
}
.sitemap__letter {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #232323;
}

.sitemap__cities {
  ul {
    display: flex;    
    flex-wrap: wrap;
    margin-left: -22px;
    margin-right: -22px;
    li {
      padding: 0 22px;
      width: 33.333%;
      display: inline;
      margin-bottom: 20px;
      a {
        display: flex;
        font-weight: 400;
        font-size: 16px;        
        color: #232323;
        &:hover {
          text-decoration: none;
        }
        span {
          color: #777;
          display: inline-block;
          margin-left: 3px;
        }
      }
      &:nth-child(1),      
      &:nth-child(2),      
      &:nth-child(3) {
        a {
          border-top: 1px solid #DDDDDD;
          padding-top: 20px;
        }
      }      
    }
  }
}

.sitemap__all-a {
  font-size: 16px;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #232323;
  display: inline-block;
  margin-top: 8px;
}






.sitemap__coverage {
  li {
    &:not(:last-child) {
      margin-bottom: 17px;
    }
    a {
      color: #232323;      
      font-size: 16px;
      &:hover {
        text-decoration: none;
      }
      span {
        color: #777;
      }
    }
  }
}

.sitemap__coverage--2 {
  display: flex;
  margin: 0 -5px;
  flex-wrap: wrap;
  ul {
    width: 33.333%;
    padding: 0 5px;
  }
}

.footer {
  background: rgb(7, 7, 27);
  padding-top: 41px;
  padding-bottom: 38px;
  a {
    color: #FFF;
  }
}


.footer__top {
  margin-bottom: 26px;
  display: flex;
  justify-content: flex-start;
}

.footer__col {
  margin-right: 111px;  
  flex: none;
}

.footer__top-logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: rgb(255, 255, 255);
  display: inline-flex;
  margin-bottom: 4px;
}

.footer__top-desc {
  font-size: 13px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.66);
}

.footer__ul {
  display: flex;
  flex-wrap: wrap;
  li {
    padding-right: 70px;
    width: 33%;
    margin-bottom: 20px;
    display: inline-flex;
    a {
      font-size: 14px;
      line-height: 1.1;
      color: rgb(255, 255, 255);
    }
  }
}



.footer__bot {
}

.copy {
  font-size: 16px;
  line-height: 1.3;
  color: rgb(255, 255, 255);
  display: inline-flex;
  margin-bottom: 8px;
}

.copy-2 {
  font-size: 13px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  a {
    text-decoration: underline;
  }
}

.regions__row {
  display: flex;  
  flex-wrap: wrap;
  margin: 0 -22.5px;
}

.regions__col {
  width: 33.333%;
  padding: 0 22.5px;
  ul {
    border-top: 1px solid #DDDDDD;   
    padding-top: 20px;
    li {      
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      a {
        font-weight: 400;
        font-size: 16px;
        color: #232323;
        span {
          color: #777;
          display: inline-block;
          margin-left: 3px;
        }
      }
    } 
  }
}

.regions__row {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.wholesale__nav {  
  ul {
    display: flex;    
    flex-wrap: wrap;
    li {
      width: 25%;
      padding-right: 15px;
      margin-bottom: 10px;
      a {
        font-size: 16px;
        color: #232323;
        line-height: 1.5;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.map {
  margin-top: 27px;
  margin-bottom: 36px;
}

.map__label {
  font-size: 16px;
  margin-bottom: 9px;
  line-height: 1.5;
  color: #777777;
}

.map__map {
  height: 310px;
  overflow: hidden;
}

.filter {
  form {
    display: flex;
    .select2-container {
      margin-right: 10px;
      min-width: 204px;
      max-width: 255px;
      width: auto $i;
    }
  }
}
.filter__label {
  margin-left: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  input[type="checkbox"] {
    display: none;
    + span {
      width: 22px;
      height: 22px;
      flex: none; 
      background: #2B6CF5;
      border: 1px solid #2B6CF5;
      border-radius: 4px; 
      margin-right: 7px;    
    }  
    &:checked {
      + span {
        background: #2B6CF5 url("../img/check.svg") no-repeat center;
      }
    }
  }  
}

.select2-container { 
  border: none; 
  width: 100% $i;
  .select2-selection--single {    
    border: none;    
    display: flex;            
    align-items: center;
    line-height: 1;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 0 16px;
    
    .select2-selection__arrow {

    }
    .select2-selection__rendered {      
      font-size: 16px;
      color: #232323;
      font-weight: 400;
      padding-left: 0;
      margin-right: 0;
      padding-right: 0;
      line-height: 1;
      margin-right: 15px;
    }
    .select2-selection__arrow {      
      background: url("../img/arr-b-sort.svg") $nr center;
      position: static;
      width: 12px;
      height: 9px;      
      margin-left: auto;
      b {
        display: none;
      }
    }
  }  
  .select2-dropdown {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .select2-search--dropdown {
    border: none;
    .select2-search__field {
      border: none;
    }
  }
  .select2-results {
    border: none;
    margin-top: 0px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    border: 1px solid #DDDDDD;
    border-top: none;
  }
  .select2-results__option {
    border: none;    
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
  }
}  

//выпадающая часть
.select2-container--open .select2-dropdown--below {
  /*width: 61px !important;*/
}

.regions__links {
  padding: 44px 0 28px;
  background: #F9F9F9;
  ul {
    display: flex;    
    flex-wrap: wrap;
    margin: 0 -14px;
    li {
      width: 25%;
      padding: 0 14px;
      margin-bottom: 17px;
      a {
        font-size: 16px;
        line-height: 125%;
        color: #232323;
      }
    }
  }
}

.wholesale__list {
  padding-bottom: 42px;
}

.pagin--wholesale {
  margin-bottom: 57px;
}

.filter__reset {
  text-align: center;
  padding-bottom: 113px;
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 13px;
    color: #000000;
  }
  button {
    font-weight: 500;
    font-size: 16px;
    height: 56px;
    padding: 0 42px;
    background: #FFFFFF;
    border: 1px solid #777777;
    border-radius: 55px;
    color: #777777;
  }
}

label {
  cursor: pointer;
}

.add__item {
  label {

    > span {
      display: block;
      margin-bottom: 6px;
      color: #232323;
      font-size: 16px;
      line-height: 1.5;      
    }
    sup {
      color: #FF2C2C;
    }
  }  
  textarea {
    height: 157px;
  }
}

textarea {
  height: 100px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
}

input[type="text"] {
  height: 54px;  
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  width: 100%;
  padding: 0 20px;
}

.add__form {
}

.add__section {  
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 46px;
}

.add__about {
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  color: #232323;
  margin-bottom: 18px;
}

.add__item {
  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.add__item-row {
  display: flex;
  margin: 0 -7px;
}
.add__item-col {
  padding: 0 7px;
  width: 50%;
}

.add__text {
  margin-top: -9px;
}

.cap {
  margin-top: -8px;
  margin-bottom: 18px;
}

.add__rules {
  margin-top: -21px;
}

.form__btn {
  background: #2B6CF5;
  border-radius: 55px;
  height: 56px;
  padding: 0 42px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}


.wholesale__item {
  display: flex;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 22px;
  padding-top: 42px;  
  
}



.wholesale__content {
  margin-left: 19px;
  flex: 1 1 auto;
  position: relative;
}

.wholesale__top {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}


.wholesale__icon {
  display: flex;
  width: 19px;
  height: 19px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 5px;
}

.wholesale__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  margin-bottom: 7px;
  padding-right: 35px;
  &:hover {
    text-decoration: none;
  }
}

.wholesale__spec {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(119, 119, 119);
  margin-bottom: 4px;
}

.wholesale__text {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(35, 35, 35);
  margin-bottom: 7px;
}

.wholesale__adress {
  background-image: url("../img/geo.svg");
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(119, 119, 119);
  padding-left: 18px;
  
}

.wholesale__gal {
  display: flex;
  
}

.wholesale__add-link {

}

.wholesale__add-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #232323;
  margin-bottom: 15px;
  margin-top: 4px;

}

.wholesale__gal-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 86px;
  margin-right: 12px;
  margin-top: 15px;
}


.events__item {
  display: flex;
  padding-bottom: 26px;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-bottom: 40px;
}

.events__img-w {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  width: 230px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.events__content {
  margin-left: 19px;
  flex: 1 1 auto;
}

.events__top {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.events__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: rgb(35, 35, 35);
}

.events__icons {
  margin-left: 10px;
  display: flex;
}

.events__icon {
  display: flex;
  width: 19px;
  height: 19px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.events__info {
}

.events__name {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(35, 35, 35);
  margin-bottom: 7px;
}

.events__place {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(35, 35, 35);
  margin-bottom: 7px;
}

.events__geo {
  background-image: url("../img/geo.svg");
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(35, 35, 35);
  padding-left: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.events__link {
  font-size: 16px;
  color: rgb(43, 108, 245);
  line-height: 1.5;
  margin-left: 6px;
}

.events__cat {
  background: rgb(249, 249, 249);
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  height: 32px;
  display: inline-flex;
  align-items: center;
}

.events__dates {
  border: 1px solid rgb(43, 108, 245);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(43, 108, 245);
  height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex;
  align-items: center;
  &:empty {
    display: none;    
  }
}

.events__status {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: rgb(0, 158, 101);
  margin-top: 7px;
}

.event {
  margin-top: 10px;
  padding-bottom: 100px;
}

@import "_after-styless";

.pb-0 {
  padding-bottom: 0;
}

.footer {
  margin-top: auto;
}